{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/styles.css'%}">
    <link rel="stylesheet" href="{% static '/styles/reset.css'%}">
    <title>Alvarez e Bernardino</title>
</head>
</head>
<body>
    {% include 'alvarezebernardino/partials/_header.html'%}
    {% block content%} {% endblock %}
    {% include 'alvarezebernardino/partials/_footer.html'%}
</body>
</html>