{% extends 'alvarezebernardino/base.html' %}
{% load static %}
{% block content%}


    <main>
        <div class="textos">
            <h1 class="titulo">Nossos serviços</h1>
            <ul class="nossos_servicos">
                <li>
                    <a href="" class="servicos">Auditoria Contábil, Tributária e de Recursos Humanos;</a>
                </li>
                <li>
                    <a href="" class="servicos">Auditoria Interna;</a>
                </li>
                <li>
                    <a href="" class="servicos">Assessoria e Consultoria Contábil e Tributária</a>
                </li>
                <li>
                    <a href="" class="servicos">Due Diligence para aquisição e avaliação de empresas;</a>
                </li>
                <li>
                    <a href="" class="servicos">Outras atividades no âmbito das necessidades das empresas e organizações, dentro das áreas de  especialização de seus profissionais.</a>
                </li>
        </div>
        </ul>
    </main>
{% endblock %}
